extends layout

block content
	div.content-container
		div.header-content
			ul.navbar
				li(style='float:left')
					a(href='/' class='home-nav' ) Home
		div.content-body
			p.content-body-text Here is your content
			p.content-body-text If you see this page after saving and this is not your content, then the link is already taken. Please use another.
			textarea.content-inputbox(type='text', name='savedItem', required) #{content}
		div.footer-content
			a.footer-message(href='https://github.com/Areezy' target='_blank', rel="noopener")
				| Made with 
				span.heart-emoji &#9829
				|  by Olamilekan Aremu

