extends layout

block content
  div.container 
    div.header-content
      ul.navbar
        li(style='float:left')
          a(href='/' class='home-nav' ) Home
    div.body-card
      div.body-content
        h1.body-info-header Move plain text files across devices using a link
        p.body-info-text &#8226 Copy your text into the text box, select how long you want it saved for and click save.
        p.body-info-text &#8226 You can provide a link to receive your content on the other end or can get a random link generated for you.
    div.body-form
      form(action='/save', method=POST)
        textarea.inputbox(type='text', name='savedItem', required)
        br
        select.delete-time(name="deleteTime")
          option(value="0") Immediately
          option(value="5") After 5 Minutes 
          option(value="30") After 30 Minutes 
          option(value="60") After 1 hour 
          option(value="1440") After 24 hours 
          option(value="10080") After 1 week 
          option(value="43800") After 1 month 
        div.submit-body
          textarea.urlToSave(type='text', placeholder="url" name='urlToSave')
          input.saveButton(type='submit', value="Save Text") 
    div.footer-content
      a.footer-message(href='https://github.com/Areezy' target='_blank')
        | Made with 
        span.heart-emoji &#9829
        |  by Olamilekan Aremu


