extends layout

block content
  div.container
    div.header-content
      ul.navbar
        li(style='float:left')
          a(href='/' class='home-nav' ) Home
        li 
          a(href='#' class='About-nav') About
        li 
          a(href='#' class='Contact-nav') Contact
    div.body-card
      div.body-content
        h1.body-info-header Move plain text files across devices using a link
        p.body-info-text &#8226 Copy your text into the text box and click save.
        p.body-info-text &#8226 You can provide a link to receive your content on the other end or can get a random link generated for you.
    div.body-form
      form(action='#', method=POST)
        textarea#inputbox(type='text', name='savedItem')
        br
    div.submit-body
      textarea#url-To-Save.urlToSave(type='text', placeholder="url" name='urlToSave')
      button#save-Button.saveButton Save Text
    div.footer-content
      a(href='https://github.com/Areezy' target='_blank' class='footer-message') Made with 	&#9829 by Olamilekan Aremu

