doctype html
html
  head
    title Clip&Ship
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon',href='/images/clipboard.png', type='image/png')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
